body, html{
  height:100%;
}
body{
  margin: 0;
  background: no-repeat center/100% url(img/lake.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #506D77;
}
.dancer{
  border:10px solid red;
  border-radius: 100% 100% 0 0;
  position:absolute;
  transition: transform 0.5s ease-in-out, top 2s ease-in-out;
  transform: scale(1);
  height: 25px;
  width: 25px;
  background-color: red;
}

.chameleon {
  height: 20px;
  width: 20px;

  animation-name: colorCycle;
  animation-duration:6s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: colorCycle;
  -webkit-animation-duration:6s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;

  -moz-animation-name: colorCycle;
  -moz-animation-duration:6s;
  -moz-animation-direction:alternate;
  -moz-animation-iteration-count:infinite;
}

.chameleon:hover {
  border-radius: 0;
}

@keyframes colorCycle
{
  0% {border-color:#006;}
  25% {border-color:#060;}
  50% {border-color:#CC3200;}
  75% {border-color:#603;}
  0% {background-color:#006;}
  25% {background-color:#060;}
  50% {background-color:#CC3200;}
  75% {background-color:#603;}
}

.giant{
  border: 0;
  background: no-repeat center/100% url(img/pacman-ghost.png);
  transform: scale(4);
}